@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

.container {
  width: 500px;
  height: 500px;
  margin: auto;
  margin-top: 80px;
  cursor: pointer;
}

.container-row1,
.container-row3 {
  width: 100%;
  height: 40%;
}

.container-row2 {
  width: 100%;
  height: 20%;
}

.row1-col1,
.row1-col3,
.row3-col1,
.row3-col3 {
  height: 100%;
  width: 40%;
}

.row1-col2,
.row3-col2 {
  height: 100%;
  width: 20%;
}

.row1-col2 > div:hover,
.row3-col2 > div:hover {
  box-shadow: -2px 14px 28px rgba(0, 0, 0, 0.25),
    -2px 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.row1-col1,
.row1-col2,
.row1-col3,
.row2-col1,
.row2-col2,
.row2-col3,
.row3-col1,
.row3-col2,
.row3-col3 {
  float: left;
}

.row2-col1,
.row2-col3 {
  width: 40%;
  height: 100%;
}

.row2-col1 > div:hover,
.row2-col3 > div:hover {
  box-shadow: -2px 14px 28px rgba(0, 0, 0, 0.25),
    -2px 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.row2-col2 {
  width: 20%;
  height: 100%;
  border: 1px solid black;
}

.row1-col1,
.row1-col3,
.row3-col1,
.row3-col3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row1-col1-child,
.row1-col3-child,
.row3-col1-child,
.row3-col3-child {
  width: 70%;
  height: 70%;
}

.row1-col1-child > div,
.row1-col3-child > div,
.row3-col1-child > div,
.row3-col3-child > div {
  width: 35%;
  height: 35%;
  float: left;
  margin: 7.5%;
  
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.row1-col1-child > div:hover,
.row1-col3-child > div:hover,
.row3-col1-child > div:hover,
.row3-col3-child > div:hover {
  box-shadow: -2px 14px 28px rgba(0, 0, 0, 0.25),
    -2px 10px 10px rgba(0, 0, 0, 0.22);
}

.row1-col2 > div,
.row3-col2 > div {
  width: 33.333%;
  height: 16.667%;
  float: left;
  border: 1px solid black;
}

.row2-col1 > div,
.row2-col3 > div {
  width: 16.667%;
  height: 33.333%;
  float: left;
  border: 1px solid black;
}

.green {
  background-color: #84c21f;
}

.red {
  background-color: #dc2418;
}

.blue {
  background-color: #0092dc;
}

.yellow {
  background-color: #f6c700;
}

.white {
  background-color: #fff;
}

.contain-triangles {
  height: 100%;
  width: 100%;
  position: relative;
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 45px solid transparent;
  border-left: 45px solid #84c21f;
  border-bottom: 45px solid transparent;
  position: absolute;
  left: 0;
  top: 5.2px;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-bottom: 45px solid #dc2418;
  position: absolute;
  bottom: 0;
  left: 5.2px;
}

.triangle-left {
  width: 0;
  height: 0;
  border-right: 45px solid #0092dc;
  border-bottom: 45px solid transparent;
  border-top: 45px solid transparent;
  position: absolute;
  right: 0;
  top: 5.2px;
}

.triangle-down {
  width: 0;
  height: 0;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-top: 45px solid #f6c700;
  position: absolute;
  top: 0;
  right: 5.2px;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 400px;
    height: 400px;
    margin-top: 80px;
  }
  .triangle-right {
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-left: 35px solid #84c21f;
    border-bottom: 35px solid transparent;
    position: absolute;
    left: 0;
    top: 4.2px;
  }
  .triangle-up {
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 35px solid #dc2418;
    position: absolute;
    bottom: 0;
    left: 4.2px;
  }
  .triangle-left {
    width: 0;
    height: 0;
    border-right: 35px solid #0092dc;
    border-bottom: 35px solid transparent;
    border-top: 35px solid transparent;
    position: absolute;
    right: 0;
    top: 4.2px;
  }
  .triangle-down {
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 35px solid #f6c700;
    position: absolute;
    top: 0;
    right: 4.2px;
  }
}

@media only screen and (max-width: 460px) {
  .container {
    width: 350px;
    height: 350px;
    margin-top: 100px;
  }
  .triangle-right {
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-left: 30px solid #84c21f;
    border-bottom: 30px solid transparent;
    position: absolute;
    left: 0;
    top: 4.2px;
  }
  .triangle-up {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #dc2418;
    position: absolute;
    bottom: 0;
    left: 4.2px;
  }
  .triangle-left {
    width: 0;
    height: 0;
    border-right: 30px solid #0092dc;
    border-bottom: 30px solid transparent;
    border-top: 30px solid transparent;
    position: absolute;
    right: 0;
    top: 4.2px;
  }
  .triangle-down {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #f6c700;
    position: absolute;
    top: 0;
    right: 4.2px;
  }
}

.logo {
  width: 50px; 
  height: auto;
  display: block;
  margin: 0 auto 10px; 
}

.navbar .logo {
  font-family: "Gill Sans Extrabold", sans-serif;
  font-weight: 600; 
  font-size: 1.5em; 
  color: #f2e6e6; 
}


.about-section {
  display: flex;
  align-items: center;
  gap: 6rem;
}



@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
    text-align: center;
  }
  
 
.hero {
  background-color: #f8e1f4; 
  padding: 2.5rem 0;
}

.text-accent-primary {
  color: #9b51e0; 
}

.get-started-button {
  background-color: #9b51e0;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-size: 1.125rem; 
  transition: background-color 0.3s ease;
}

.get-started-button:hover {
  background-color: #7a41b5;
}


.svg-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


.svg-1,
.svg-2 {
  position: absolute;
  transition: transform 0.3s ease, scale 0.3s ease;
}

.svg-1 {
  top: 0;
  right: 25%; 
  width: 40%;
  max-width: 200px;
}

.svg-2 {
  top: 33%;
  right: 25%; 
  width: 50%;
  max-width: 250px;
}

.svg-1:hover,
.svg-2:hover {
  transform: scale(1.1); 
}


@media (max-width: 1024px) {
  .svg-1, .svg-2 {
      right: 10%; 
  }
}



  .svg-1, .svg-2 {
      position: static;
      transform: none;
      width: 60%;
      margin-top: 1rem;
  }
}

.wallet-image .wallet-svg-icon {
  width: 2000px; 
  height: auto;
  margin-left: 250px; 
}

@media (max-width: 768px) {
  .container {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .wallet-svg-icon {
      width: 150px;
      margin: 0 auto;
  }
}


body {
  background: radial-gradient(circle at center, #a191ea, #151b49); 
  color: var(--color-text-primary);

}








